

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  display: flex;
  align-items: center;
  padding: 0.3em;
  text-decoration: none;
}

.welcome {
  padding: 0.3em;
}

.test-chooser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typing-text p span{
  position: relative;
}

.typing-text p span.correct{
  color: #56964f;
}

.typing-text p span.incorrect{
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}

.timer {
  display: flex;
  justify-content: center;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultTableDiv {
  display:flex;
  flex-direction: column;
  align-items: center;
}

th, td {
  padding-left: 5px;
  padding-right: 5px;
}

.helptext {
  font-size: 75%;
}

.formButton {
  margin: 0.5em 0;
}

.form-label {
  margin: 0.5em 0;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 0.5em;
}